/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #000000;
}

a         {
  color: $primary-action-color;
  text-decoration: none;
  cursor:pointer;
}
a:hover   { color: $primary-action-color; text-decoration: none; }
a:visited { color: #205caa; }

p {
  font-size:16px;
  line-height: 32px;
  margin-bottom:16px;
}
.clear { clear: both;}
