
/* Colors */
$base-color: #fff;
$secondary-color: #fff;
$primary-action-color: purple;

/* Fonts */
$primary-font: 'Fjord One', serif;
$secondary-font: 'Raleway', sans-serif;
$third-font: 'Domine', serif;
