<footer>
  <div class="inner">

  <h2>About Me</h2>
  <p>I am Bradley Hawkins I currently reside in Central Pennsylvania and work full time with the awesome crew at Andculture. When not designing you might find me on my bicycle, hiking various PA trails, helping my brother build log homes, or spending time with my wonderful family.</p>
  <h4>Connect</h4>
    <ul>
      <li>
      <a href="mailto:{{ site.email }}">email</a>
    </li>

      <li>
      <a href="https://dribbble.com/{{ site.dribbble_username }}">dribbble</a>
      </li>

      <li>
      <a href="https://github.com/{{ site.github_username }}">github</a>
      </li>

      <li>
      <a href="https://twitter.com/{{ site.twitter_username }}">twitter</a>
      </li>
    </ul>

  <p class="copyright">Copyright © 2014 Bradely Hawkins. All rights reserved.</p>
  <image></image>
</div>
</footer>

<!-- Javascript -->
<script type="text/javascript" src="../js/dribbble-call.js"></script>
<script type="text/javascript" src="../js/dribbble.js"></script>
<script type="text/javascript" src="../js/headhesive.js"></script>
    <script>

        // Set options
        var options = {
            offset: 500,
            classes: {
                clone:   'header--clone',
                stick:   'header--stick',
                unstick: 'header--unstick'
            }
        };

        // Initialise with options
        var banner = new Headhesive('.header', options);

        // Headhesive destroy
        // banner.destroy();
    </script>
