<header class="header">
  <div class="inner">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %} -->
        <a class="page-link" href="#">Back to home</a>
      </div>
    </nav>

  </div>

  <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}"><img src="assets/images/logo-white.png" alt="{{ site.title }}"/></a>
</header>
