/* Layout Styles */
/* ----------------------------------------------------------*/
body {

}

.background, header, footer, section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



/* Utility */

.inner:before,
.inner:after { content:""; display:table; }
.inner:after { clear: both; }
.inner {
  @include outer-container;
  position: relative;
  margin: 0 auto;
  zoom: 1;

  @include media($tablet) { // As defined in _grid-settings.scss
    padding: 0 20px;
  }
  @include media($mobile) { // As defined in _grid-settings.scss
    padding: 0 20px;
  }
}



/* Site header */

.header {
  z-index: 9999;
  height:85px;

  a.site-title {
    position: absolute;
    z-index: 9999;
    top:-20px;
    right:0;
    height:141px;
    width:141px;
    display:block;
  }
  a.site-title:hover{
    opacity: 0.5;
  }
  .site-nav {
    float:left;
    line-height: 85px;
    font-family: $primary-font;
    text-transform: uppercase;
  }

  .site-nav .menu-icon {
    display: none;
    }

  .site-nav .page-link {
    font-size: 12px;
    margin-right: 40px;
    color: #fff;
    letter-spacing: 2px;
  }
}




/* Page Content styles */
/* ----------------------------------------------------------*/

.background {
  background: $secondary-color url("../../../images/bg-hero-1.png") no-repeat left top;
}

section {
  text-align: center;
  padding: 100px 0 0 0;
  border-bottom:1px solid #eee;
}

section.intro {
  min-height: 480px;
  text-align: left;
  padding-top: 0;
  h1 {
    @include span-columns(11);
    margin-top:305px;
    color: $secondary-color;
    @include media($mobile) { // As defined in _grid-settings.scss
      margin-top:110px;
    }
  }

}

section.work {
  background: $secondary-color;

  img {
    width:100%;
    max-width: 1049px;
    display:block;
    margin:50px auto 0 auto;
    padding:0 20px;
  }
}

section.recent-work{
  text-align:left;
}

/* Site footer */

footer {
  background: $secondary-color;
  border-top: 1px solid #e8e8e8;
  text-align: center;

}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer .column { float: left; margin-bottom: 15px; }



.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}



/* Home styles */
/* ----------------------------------------------------------*/


.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }


.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }



/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {



  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }


}



/*----------------------------------------------------------------------------*\
    Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          clone: 'banner--clone';
 |      }
 |  }
 *
 */
.header--clone {

    /* Required styles */
    position: fixed;
    max-width:none;
    top: 0;
    left: 0;

    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-150%);
        -ms-transform: translateY(-150%);
            transform: translateY(-150%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

      .fixed {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.9); // white
        border-bottom:1px solid #eee;
      }
      .site-nav .page-link {
        color: #000;
      }
      a.site-title img{
        -webkit-filter: invert(100%);
      }

}



/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          stick: 'banner--stick';
 |      }
 |  }
 *
 */
.header--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          unstick: 'banner--unstick';
 |      }
 |  }
 *
 */
.header--unstick {
    /* Not required to use, but could be useful to have */
}
