h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  font-size: 100%;
  font-weight: 700;
/*   font-weight: 400; */
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  letter-spacing: -1.75px;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  letter-spacing: -1.25px;
}

 h3 {
  font-size: 26px;
  letter-spacing: -1px;
}

h4 {
  font-size: 20px;
  letter-spacing: -1px;
}
