/* Layout Styles */
/* ----------------------------------------------------------*/
body {

}

.wrapper {
  position:relative;
  width:87%;
  margin-left:13%;
  background: $base-color;
  @include media($tablet) { // As defined in _grid-settings.scss
    width:90%;
    margin-left:10%;
  }
  @include media($mobile) { // As defined in _grid-settings.scss
    width:90%;
    margin-left:10%;
  }

}

.content {
  @include outer-container;
  position: relative;
  zoom: 1;

}




section:before, section:after { content:""; display:table; }
section:after { clear: both; }
section {

  @include media($tablet) { // As defined in _grid-settings.scss
    padding:0 10%;
  }
  @include media($mobile) { // As defined in _grid-settings.scss
    padding:0 10%;
  }

}



/* Site header */

.header {
  z-index: 9999;
  height:82px;

  a.site-title {
    position: absolute;
    z-index: 2;
    top:-22px;
    right:40px;
    display:block;
    @include media($tablet) { // As defined in _grid-settings.scss
      right:10px;
    }
    @include media($mobile) { // As defined in _grid-settings.scss

    }

  }
  a.site-title img{
    /* position: fixed; */
    filter: invert(100%);
    // Browser Specific
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    @include media($tablet) { // As defined in _grid-settings.scss
      height:120px;
      width:120px;
    }
    @include media($mobile) { // As defined in _grid-settings.scss

    }
  }
  a.site-title:hover{
    opacity: 0.5;
  }
  .site-nav {
    @include span-columns(10);
    @include shift(1);
    float:left;
    line-height: 85px;
    font-family: $primary-font;
    font-weight:700;
    text-transform: uppercase;
    @include media($tablet) { // As defined in _grid-settings.scss
      @include span-columns(6);
      @include shift(1);
    }
    @include media($mobile) { // As defined in _grid-settings.scss
      @include span-columns(4);
      @include shift(1);
    }
  }

  .site-nav .menu-icon {
    display: none;
    }

  .site-nav .page-link {
    font-size: 12px;
    margin-right: 40px;
    color: #000;
    letter-spacing: 2px;
  }
  .site-nav .page-link:hover{
    color:$tertiary-color;
    text-decoration:none;
  }

}




/* Page Content styles */
/* ----------------------------------------------------------*/


section:before,
section:after { content:""; display:table; }
section:after { clear: both; }
section {
  padding: 100px 0 0 0;
  border-bottom:1px solid #eee;
  background: $base-color;

}

.intro {
  padding-top: 0;
  background: none;
  border-bottom:none;
  h1 {
    @include span-columns(8);
    @include shift(1);
    margin-top:150px;
    color: #000;
    text-align:left;
    @include media($tablet) { // As defined in _grid-settings.scss
      @include span-columns(6);
      @include shift(1);
    }
    @include media($mobile) { // As defined in _grid-settings.scss
      @include span-columns(4);
      @include shift(1);
    }
  }

}


  .work {
    img.teaser {
      @include span-columns(8 of 12);
      width:100%;
      max-width: 692px;
      display:block;
      padding:0;
      float:right;
      padding-top:32px;
      @include media($tablet) { // As defined in _grid-settings.scss
          width:100%;
      }
      @include media($mobile) { // As defined in _grid-settings.scss
          width:100%;
      }
    }
    .caption  {
      @include span-columns(3 of 12);
      @include shift(1);
      float:left;
      text-align: left;
      padding-top:200px;
      @include media($tablet) { // As defined in _grid-settings.scss
        padding-top:0;
        @include span-columns(6);
        @include shift(1);
      }
      @include media($mobile) { // As defined in _grid-settings.scss
        @include span-columns(4);
        @include shift(1);
      }
    }

}

.work.alt {
  img.teaser {
    float:left;
  }
  .caption {
      @include row($direction: LTR);
      float: right;
    @include media($tablet) { // As defined in _grid-settings.scss
      float: left;
    }


  }
}

.work.first {
  img.teaser {
    /* margin-top:-200px; */
    @include media($tablet) { // As defined in _grid-settings.scss
      margin-top:0px;
    }
  }
  .caption  {
    padding-top:0px;
    @include media($tablet) { // As defined in _grid-settings.scss
        margin-top:0px;
    }

  }

}

.section-title{
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 32px;

  @include media($tablet) { // As defined in _grid-settings.scss
    @include span-columns(6);
    @include shift(1);
  }
  @include media($mobile) { // As defined in _grid-settings.scss
    @include span-columns(4);
    @include shift(1);
  }
}


.recent-work {
  margin-top:25px;
  border:none;
}


#dribbble-feed {
  list-style: none;
  display: block;
  width: 100%;
  margin:25px auto 0 auto;

  li a {
    float: left;
    display:block;
    width:25%;
    line-height:0;
    @include media($tablet) { // As defined in _grid-settings.scss
      width:50%;
    }
    @include media($mobile) { // As defined in _grid-settings.scss
      width:50%;
    }
  }
   a img{
      width:100%;
      border: 1px solid #fff;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    }
     a img:hover, a img:active {
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(0%);

      }

    }

/* Site footer */

footer {
  background: $base-color;
/*   border-top: 1px solid #e8e8e8; */
  padding:100px 0;
  @include span-columns(10);
  @include shift(1);

  @include media($tablet) { // As defined in _grid-settings.scss
    @include span-columns(6);
    @include shift(1);
  }
  @include media($mobile) { // As defined in _grid-settings.scss
    @include span-columns(4);
    @include shift(1);
  }

  .connect-links {
    list-style: none;
    float:left;
    margin: 0 0 50px 0;

    li {
      display:inline-block;
      border-right: solid 1px $tertiary-color;
      padding: 0 10px;
      line-height:12px;
    }
    li:last-child {
      border-right:none;
    }
    li:first-child {
      padding-left:0;
    }
    li a{
      font-family: $primary-font;
      font-weight: 700;
      font-size:11px;
      color:$primary-action-color;
      letter-spacing:.2em;
      text-transform:uppercase;
    }
    li a:hover{
      color:$tertiary-color;
    }
  }
}








/* Home styles */
/* ----------------------------------------------------------*/


.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }


.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

.post-content { margin: 0 0 30px; }

.post-content > * { margin: 20px 0; }


.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0;
}

.post-content ul,
.post-content ol { padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow:scroll;
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }



/* media queries */
/* ----------------------------------------------------------*/


@media screen and (max-width: 750px) {

  .footer-col-1 { width: 50%; }

  .footer-col-2 {
    width: 45%; /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0;
  }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both;
  }

}

@media screen and (max-width: 600px) {

  .post-header h1 { font-size: 36px; }
  .post-content h2 { font-size: 28px; }
  .post-content h3 { font-size: 22px; }
  .post-content h4 { font-size: 18px; }
  .post-content blockquote { padding-left: 10px; }
  .post-content ul,
  .post-content ol { padding-left: 10px; }


}
