.project-nav {
  list-style:none;
  margin-top:24px;

    li{
      list-style:none;
      margin-bottom:24px;

      a{
        font-size:18px;
        line-height:24px;

        span {color:$tertiary-color;}
      }
    }
  }

.project .subtitle {
  padding-bottom:50px;
}
