  h1, h2, h3, h4, h5, h6 {
    font-family: $primary-font;
    font-size: 100%;
    font-weight: 400;
    color: $secondary-color;
    margin-bottom:16px;
  }

  h1 {
    font-size: 36px;
    line-height:48px;
    letter-spacing: -1.75px;
    span {
      color: $tertiary-color;
    }
  }

  h2 {
    font-size: 32px;
    line-height:38px;
    letter-spacing: -1.25px;
  }

  h3 {
    font-size: 24px;
    line-height:32px;
    letter-spacing: -1px;
    font-weight: 400;
    text-transform: none;

  }

  h4 {
    font-size: 12px;
    line-height:14px;
    color: $tertiary-color;
    letter-spacing:.2em;
    text-transform:uppercase;
  }




  p.subtitle {
    font-family:$secondary-font;
    font-size:14px;
    line-height:20px;
    color: $tertiary-color;
    text-transform:none;
    letter-spacing:-.05em;
    margin-bottom:8px;
  }

  p.copyright {
    font-family:$secondary-font;
    font-size:10px;
    line-height:14px;
    color: $tertiary-color;
  }

  p.bio-short {
    color:$tertiary-color;
    margin-bottom:50px;
  
  }
