/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color:#0cfab4;

}
.background-image {

  background-image: url("../../images/bg-green-mountains.jpg");

  background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100%;
        width: 100%;
        position: fixed;
        background-position: left top;
        background-repeat: no-repeat;
}

a         {
  color: $primary-action-color;
  text-decoration: none;
  cursor:pointer;
}
a:hover   { color: $primary-action-color; text-decoration: none; }
a:visited { color: #205caa; }

p {
  font-size:16px;
  line-height: 32px;
  margin-bottom:16px;
}
.clear { clear: both;}
