
/* Colors */
$base-color: #fff;
$secondary-color: #121212;
$tertiary-color: #9d9d9d;
$primary-action-color: #121212;

/* Fonts */
$primary-font:  'Libre Baskerville', serif;
$secondary-font: 'Libre Baskerville', serif;
