---
layout: default
---

  <section class="project">
    <nav class="site-nav">
      <li><a href="/">&#8592; Back</a></li>
    </nav>

    <h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.sub-title }}</p>

    {{ content }}
  </section>

  <section>
      <h4>All selected works</h4>
      <ul class="project-nav">
        <li>
          <a href="{{ site.baseurl }}/work/hatchback/">Hatchback
          <p class="subtitle">Identity, Art Direction, Web design</p></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/work/milkmoney/">Milk Money
          <p class="subtitle">RWD, UX</p></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/work/trytn/">Trytn
          <p class="subtitle">RWD, Development, Wordpress Ecommerce integration</p></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/work/andculture/">Andculture
          <p class="subtitle">Identity, Art Direction, Web design</p></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/work/bravogroup/">Bravogroup
          <p class="subtitle">RWD, UX</p></a>
        </li>
        <li>
          <a href="{{ site.baseurl }}/work/river-city-leather/">River City Leather
          <p class="subtitle">RWD, Development, Wordpress Ecommerce integration</p></a>
        </li>
      </ul>
  </section>
