---
layout: default
---

  <section class="project">
    <nav class="site-nav">
      <li><a href="/">Back</a></li>
    </nav>

    <h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.sub-title }}</p>

    {{ content }}
  </section>

  <section>
      <h4>All selected works</h4>
      <ul class="project-nav">
        <li class="prev-project">
          <a href="/">Hatchback <span>UI, Mobile, UX</span></a>
        </li>
        <li class="next-project">
          <a href="/">Trytn <span>Identity, UX, Art Direction</span></a>
        </li>
        <li class="prev-project">
          <a href="/">Andculture<span>Identity, Art Direction, Web design</span></a>
        </li>
        <li class="next-project">
          <a href="/">Armed Mind Poster <span>Illustration</span></a>
        </li>
      </ul>
  </section>
