---
layout: default
---

  <nav class="site-nav">
    <li>
      <a href="/">Back</a>
    </li>
  </nav>

  <section class="project-intro inner">
    <h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.sub-title }}</p>
  </section>

  {{ content }}

  <section>
    <div class="inner">
      <h2>All projects</h2>

      <ul class="project-nav">
        <li class="prev-project">
          <a href="/">Hatchback <span>UI, Mobile, UX</span></a>
        </li>
        <li class="next-project">
          <a href="/">MilkMoney <span>UI, Mobile, UX</span></a>
        </li>
        <li class="prev-project">
          <a href="/">Hatchback <span>UI, Mobile, UX</span></a>
        </li>
        <li class="next-project">
          <a href="/">MilkMoney <span>UI, Mobile, UX</span></a>
        </li>
      </ul>

    </div>
  </section>
