/* Colors */
/* Fonts */
/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #0cfab4; }

.background-image {
  background-image: url("../../images/bg-green-mountains.jpg");
  background-size: 975px 1505px;
  -webkit-background-size: 975px 1505px;
  -moz-background-size: 975px 1505px;
  -o-background-size: 975px 1505px;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: left top;
  background-repeat: no-repeat; }

a {
  color: #121212;
  text-decoration: none;
  cursor: pointer; }

a:hover,
section a:hover,
.caption a:hover,
footer a:hover {
  color: #0AE1A2;
  text-decoration: none; }

a:visited {
  color: #121212; }

.clear {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-size: 100%;
  font-weight: 400;
  color: #121212;
  margin-bottom: 16px; }

h1 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -1.75px; }
  h1 span {
    color: #a1a5b3; }

h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -1.25px; }

h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -1px;
  font-weight: 400;
  text-transform: none; }

.project h3 {
  margin-top: 30px; }

h4 {
  font-size: 12px;
  line-height: 1.7em;
  color: #a1a5b3;
  letter-spacing: .2em;
  text-transform: uppercase; }

p {
  font-size: 16px;
  line-height: 1.7em;
  margin-bottom: 32px; }

strong, b {
  font-weight: 700; }

p.bio-short {
  color: #a1a5b3;
  margin-bottom: 50px; }

p.subtitle {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  line-height: 20px;
  color: #a1a5b3;
  text-transform: none;
  letter-spacing: -.05em;
  margin-bottom: 8px; }

p.caption {
  padding-bottom: 30px;
  font-style: italic;
  font-size: 14px;
  color: #a1a5b3; }

p.copyright {
  font-family: "Libre Baskerville", serif;
  font-size: 10px;
  line-height: 1.7em;
  color: #a1a5b3; }

/* Layout Styles */
/* ----------------------------------------------------------*/
.wrapper {
  position: relative;
  width: 92%;
  margin-left: 8%;
  background: #fff; }

.content {
  position: relative;
  zoom: 1; }

.inner {
  padding: 40px;
  overflow: hidden; }
  .inner img {
    width: 100%; }

section:before,
section:after {
  content: "";
  display: table; }

section:after {
  clear: both; }

section {
  padding: 40px;
  border-bottom: 1px solid #eee;
  background: #fff;
  overflow: hidden; }
  section img {
    width: 100%; }

section.project {
  padding-top: 0; }

/* Site header */
.header {
  z-index: 9999;
  float: right;
  position: relative; }
  .header a.site-title {
    position: absolute;
    z-index: 2;
    top: -22px;
    right: 25px;
    display: block; }
  .header a.site-title img {
    width: 100px;
    /* position: fixed; */
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='invert'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert"); }
  .header a.site-title:hover {
    opacity: 0.5; }

/* Navigation */
/* ----------------------------------------------------------*/
.site-nav {
  float: left;
  line-height: 85px;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: 100%; }
  .site-nav li {
    list-style: none; }
    .site-nav li a {
      display: block;
      margin-top: 40px;
      font-size: 12px;
      line-height: 1.7em;
      letter-spacing: .2em;
      color: #000; }
    .site-nav li a:hover {
      color: #0AE1A2;
      text-decoration: none; }

/* Page Content styles */
/* ----------------------------------------------------------*/
.section-title {
  margin-bottom: 32px; }

.intro {
  padding-top: 150px;
  background: none; }
  .intro h1 {
    color: #000;
    text-align: left; }

.work {
  padding-bottom: 0; }
  .work .teaser img {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0; }
  .work .caption {
    padding-top: 50px; }

.recent-work {
  padding: 0;
  border: none; }
  .recent-work .inner {
    padding-bottom: 0; }

#dribbble-feed {
  list-style: none;
  display: block;
  width: 100%;
  margin: 25px auto 0 auto; }
  #dribbble-feed li a {
    float: left;
    display: block;
    width: 50%;
    line-height: 0; }
  #dribbble-feed a img {
    width: 100%;
    border: 1px solid #fff;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }
  #dribbble-feed a img:hover, #dribbble-feed a img:active {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); }

/* Site footer */
footer.inner {
  background: #fff;
  /*   border-top: 1px solid #e8e8e8; */
  padding-top: 100px; }
  footer.inner .connect-links {
    list-style: none;
    float: left;
    margin: 0 0 50px 0; }
    footer.inner .connect-links li {
      display: inline-block;
      padding: 0;
      line-height: 12px;
      width: 100%;
      border: none;
      padding: 5px 0; }
    footer.inner .connect-links li:last-child {
      border-right: none; }
    footer.inner .connect-links li:first-child {
      padding-left: 0; }
    footer.inner .connect-links li a {
      font-family: "Libre Baskerville", serif;
      font-weight: 700;
      font-size: 11px;
      color: #121212;
      letter-spacing: .2em;
      text-transform: uppercase; }
    footer.inner .connect-links li a:hover {
      color: #0AE1A2; }

/* Home styles */
/* ----------------------------------------------------------*/
.posts {
  list-style-type: none; }

.posts li {
  margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1; }

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181; }

/* Post styles */
/* ----------------------------------------------------------*/
.post-header {
  margin: 10px 0 30px; }

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px; }

.post-content {
  margin: 0 0 30px; }

.post-content > * {
  margin: 20px 0; }

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0; }

.post-content ul,
.post-content ol {
  padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: scroll; }

.post code {
  padding: 1px 5px; }

.post ul,
.post ol {
  margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.post pre.terminal code {
  background-color: #333; }

/* Tablet specific */
/* ----------------------------------------------------------*/
@media (min-width: 600px) {
  .wrapper {
    width: 90%;
    margin-left: 10%; } }
/* Desktop specific */
/* ----------------------------------------------------------*/
@media (min-width: 1000px) {
  .wrapper {
    width: 87%;
    margin-left: 13%; }

  .inner {
    padding: 50px 80px; }

  section:before,
  section:after {
    content: "";
    display: table; }

  section:after {
    clear: both; }

  section {
    padding: 50px 80px; }

  .header a.site-title {
    right: 40px; }
  .header a.site-title img {
    width: 141px; }

  .site-nav li {
    list-style: none;
    float: left; }

  .intro {
    padding-right: 200px; }

  .work .teaser {
    width: 80%;
    float: right;
    margin-right: -100px;
    padding-top: 60px; }
  .work .caption {
    width: 25%;
    float: left;
    padding-top: 175px; }

  .work.alt .teaser {
    float: left;
    margin-left: -100px; }
  .work.alt .caption {
    float: right; }

  #dribbble-feed li a {
    width: 25%; }

  footer.inner .connect-links li {
    display: inline-block;
    width: auto;
    padding: 0 10px;
    border-right: solid 1px #a1a5b3; } }
.project-nav {
  list-style: none;
  margin-top: 24px;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  width: 100%; }
  .project-nav li {
    display: block;
    float: left;
    list-style: none;
    width: 100%; }
    .project-nav li a {
      display: block;
      font-size: 18px;
      line-height: 24px;
      padding: 12px 0; }
      .project-nav li a span {
        color: #a1a5b3; }

.project .subtitle {
  padding-bottom: 20px; }
.project img {
  padding-bottom: 50px; }
.project img.caption {
  padding-bottom: 10px; }

@media (min-width: 1000px) {
  .project-nav li {
    width: 33%; }
    .project-nav li a {
      padding-right: 100px; }

  .project img {
    padding-bottom: 50px; } }

/*# sourceMappingURL=main.css.map */
