/* Colors */
/* Fonts */
/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #0cfab4; }

.background-image {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-image: url("../../images/bg-green-mountains.jpg");
  background-attachment: fixed; }

a {
  color: #09be77;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #09be77;
  text-decoration: none; }

a:visited {
  color: #205caa; }

p {
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 16px; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Baskerville", serif;
  font-size: 100%;
  font-weight: 700;
  /*   font-weight: 400; */
  color: #121212;
  margin-bottom: 16px; }

h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -1.75px;
  line-height: 50px; }

h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.25px; }

h3 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1px;
  font-weight: 400;
  text-transform: none; }

h4 {
  font-size: 12px;
  line-height: 14px;
  color: #9d9d9d;
  letter-spacing: .2em; }

.work p a, .recent-work p a, a.sans {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #09be77;
  letter-spacing: .2em;
  text-transform: uppercase; }

p.subtitle {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
  line-height: 20px;
  color: #9d9d9d;
  text-transform: none;
  letter-spacing: -.05em;
  margin-bottom: 8px; }

p.copyright {
  font-family: "Libre Baskerville", serif;
  font-size: 10px;
  line-height: 14px;
  color: #9d9d9d; }

p.bio-short {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-bottom: 50px; }
  p.bio-short:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    p.bio-short {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 74.10533%;
      margin-left: 12.94733%; }
      p.bio-short:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    p.bio-short {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%; }
      p.bio-short:last-child {
        margin-right: 0; } }

/* Layout Styles */
/* ----------------------------------------------------------*/
.wrapper {
  position: relative;
  width: 85%;
  margin-left: 15%;
  background: white; }

header, footer, section {
  width: 100%; }

.inner:before,
.inner:after {
  content: "";
  display: table; }

.inner:after {
  clear: both; }

.inner {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  zoom: 1; }
  .inner:after {
    content: "";
    display: table;
    clear: both; }

/* Site header */
.header {
  z-index: 9999;
  height: 82px; }
  .header a.site-title {
    position: absolute;
    z-index: 9999;
    top: -22px;
    left: -40px;
    height: 141px;
    width: 141px;
    display: block;
    -webkit-filter: invert(100%); }
  .header a.site-title img {
    position: fixed; }
  .header a.site-title:hover {
    opacity: 0.5; }
  .header .site-nav {
    float: right;
    line-height: 85px;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    text-transform: uppercase; }
  .header .site-nav .menu-icon {
    display: none; }
  .header .site-nav .page-link {
    font-size: 12px;
    margin-right: 40px;
    color: #000;
    letter-spacing: 2px; }
  .header .site-nav .page-link:hover {
    text-decoration: none; }

/* Page Content styles */
/* ----------------------------------------------------------*/
section:before,
section:after {
  content: "";
  display: table; }

section:after {
  clear: both; }

section {
  padding: 100px 0 0 0;
  border-bottom: 1px solid #eee;
  background: white; }

.section-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  margin-bottom: 32px; }
  .section-title:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .section-title {
      float: none;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .section-title {
      float: none;
      text-align: center; } }
  .section-title h2 {
    display: block;
    float: left; }
    @media screen and (max-width: 768px) {
      .section-title h2 {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .section-title h2 {
        float: none;
        text-align: center; } }
  .section-title a {
    float: right;
    padding-top: 10px; }
    @media screen and (max-width: 768px) {
      .section-title a {
        float: none;
        text-align: center; } }
    @media screen and (max-width: 480px) {
      .section-title a {
        float: none;
        text-align: center; } }

.intro {
  min-height: 480px;
  padding-top: 0;
  background: none; }
  .intro h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    margin-top: 305px;
    color: #000;
    text-align: left; }
    .intro h1:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .intro h1 {
        text-align: center;
        width: 100%;
        padding: 0 5%;
        margin: 150px 0 0 0; } }

.work img.teaser {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  width: 100%;
  max-width: 692px;
  display: block;
  padding: 0;
  float: right;
  padding-top: 32px; }
  .work img.teaser:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .work img.teaser {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .work img.teaser {
      width: 100%; } }
.work .caption {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 8.5298%;
  float: left;
  text-align: left;
  padding-top: 200px; }
  .work .caption:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .work .caption {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0 5%; } }
  @media screen and (max-width: 480px) {
    .work .caption {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0 5%; } }
.work .work.alt img.teaser {
  float: left; }
.work .work.alt .caption {
  display: block;
  margin-right: 8.5298%;
  float: right; }
  .work .work.alt .caption:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    .work .work.alt .caption {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .work .work.alt .caption {
      margin: 0; } }

.work.first img.teaser {
  margin-top: -200px; }
  @media screen and (max-width: 768px) {
    .work.first img.teaser {
      margin-top: 0px; } }
  @media screen and (max-width: 480px) {
    .work.first img.teaser {
      margin-top: 0px; } }
.work.first .caption {
  margin-top: -150px; }
  @media screen and (max-width: 768px) {
    .work.first .caption {
      margin-top: 0px; } }
  @media screen and (max-width: 480px) {
    .work.first .caption {
      margin-top: 0px; } }

.recent-work {
  margin-top: 25px;
  border: none; }

#dribbble-feed {
  list-style: none;
  display: block;
  width: 100%;
  margin: 25px auto 0 auto; }
  #dribbble-feed li a {
    float: left;
    display: block;
    width: 25%;
    line-height: 0; }
    @media screen and (max-width: 768px) {
      #dribbble-feed li a {
        width: 50%; } }
    @media screen and (max-width: 480px) {
      #dribbble-feed li a {
        width: 50%; } }
  #dribbble-feed a img {
    width: 100%;
    border: 1px solid #fff;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }
  #dribbble-feed a img:hover, #dribbble-feed a img:active {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%); }

/* Site footer */
footer {
  background: white;
  /*   border-top: 1px solid #e8e8e8; */
  text-align: center;
  margin-top: 100px; }
  footer .connect-links {
    list-style: none;
    text-align: center;
    margin: 0 0 50px 0; }
    footer .connect-links li {
      display: inline-block;
      border-right: solid 1px #9d9d9d;
      padding: 0 10px;
      line-height: 12px; }
    footer .connect-links li:last-child {
      border-right: none; }
    footer .connect-links li a {
      font-family: "Libre Baskerville", serif;
      font-weight: 700;
      font-size: 11px;
      color: #09be77;
      letter-spacing: .2em;
      text-transform: uppercase; }

/* Home styles */
/* ----------------------------------------------------------*/
.posts {
  list-style-type: none; }

.posts li {
  margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1; }

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181; }

/* Post styles */
/* ----------------------------------------------------------*/
.post-header {
  margin: 10px 0 30px; }

.post-header .meta {
  font-size: 15px;
  color: #818181;
  margin-top: 5px; }

.post-content {
  margin: 0 0 30px; }

.post-content > * {
  margin: 20px 0; }

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  letter-spacing: -1px;
  font-style: italic;
  margin: 30px 0; }

.post-content ul,
.post-content ol {
  padding-left: 20px; }

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  overflow: scroll; }

.post code {
  padding: 1px 5px; }

.post ul,
.post ol {
  margin-left: 1.35em; }

.post pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.post pre.terminal code {
  background-color: #333; }

/* media queries */
/* ----------------------------------------------------------*/
@media screen and (max-width: 750px) {
  .footer-col-1 {
    width: 50%; }

  .footer-col-2 {
    width: 45%;
    /*fallback*/
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: -o-calc(50% - 10px);
    width: calc(50% - 10px);
    margin-right: 0; }

  .site-footer .column.footer-col-3 {
    width: auto;
    float: none;
    clear: both; } }
@media screen and (max-width: 600px) {
  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8; }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px; }

  .site-nav .menu-icon svg {
    width: 18px;
    height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none; }

  .site-nav:hover .trigger {
    display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0; }

  .post-header h1 {
    font-size: 36px; }

  .post-content h2 {
    font-size: 28px; }

  .post-content h3 {
    font-size: 22px; }

  .post-content h4 {
    font-size: 18px; }

  .post-content blockquote {
    padding-left: 10px; }

  .post-content ul,
  .post-content ol {
    padding-left: 10px; } }
/*----------------------------------------------------------------------------*\
    Headhesive Specific Styles
/*----------------------------------------------------------------------------*/
/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          clone: 'banner--clone';
 |      }
 |  }
 *
 */
.header--clone {
  /* Required styles */
  position: fixed;
  max-width: none;
  top: 0;
  left: 0;
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-150%);
  -ms-transform: translateY(-150%);
  transform: translateY(-150%);
  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .header--clone .fixed {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #eee; }
  .header--clone .site-nav .page-link {
    color: #000; }
  .header--clone a.site-title img {
    -webkit-filter: invert(100%);
    filter: Invert;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='invert'><feColorMatrix type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert"); }

/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          stick: 'banner--stick';
 |      }
 |  }
 *
 */
.header--stick {
  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 |  var options = {
 |      classes {
 |          unstick: 'banner--unstick';
 |      }
 |  }
 *
 */
.header--unstick {
  /* Not required to use, but could be useful to have */ }
